@font-face {
  font-family: "Wolyeonggyo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Wolyeonggyo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  word-break: break-all; /* 글씨가 div를 벗어나지 않도록 해줌 */
}

#title {
  display: flex;
  justify-content: space-between;
  background-color: #ff2e0a;
  color: #fff;
  padding: 8px 8%;
  font-family: "Wolyeonggyo";
}

#title p {
  font-size: 2.5rem;
  margin: 0;
}

#search-box {
  display: flex;
}

#search-box input {
  margin: 5px;
}

#search-box button {
  margin: 5px;
}

#pokedex {
  display: flex;
  flex-direction: row;
}

.col-lg-12 {
  margin: 1rem;
  text-align: center;
  justify-content: center;
}

.p-3 {
  text-align: center;
}

.imgAlign {
  text-align: center;
}

.img-fluid {
  height: 320px;
}

.card {
  width: 230px;
  margin: 1rem;
}

.card-body {
  padding: 0 16px 16px;
}

.card-body h5 {
  margin-bottom: 1rem;
}

.card-body p {
  line-height: 2rem;
  margin: 0;
}

#pagination {
  padding: 12px;
  margin: 12px 0;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-content {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  top: 0;
  padding: 20px 25px;
  width: 80vmin;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 200%;
  margin: 0 0 30px;
}

.modal-content button {
  display: block;
  margin: auto;
  width: 25vmin;
  height: 2.8rem;
  border-radius: 10px;
  border: 3px solid #2b76d9;
  background-color: #2b76d9;
  color: #fff;
  transition-duration: 0.4s;
}

.modal-content button:hover {
  background-color: #fff;
  color: #2b76d9;
}

.search-modal {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 5%;
  z-index: 100;
}

.search-modal-content {
  text-align: center;
  background-color: black;
  border-radius: 5px;
  padding: 1px;
}

.hidden {
  display: none;
}

.pagination {
  padding: 2em 0 1em;
  justify-content: center;
}

@media (max-width: 768px) {
  #search-box input {
    display: none;
  }
}

@media (max-width: 375px) {
  #search-box {
    display: none;
  }
  .search-modal {
    display: none;
  }
}
